# http://underscorejs.org/

# Raw (unescaped) strings in templates.
snippet = 
	<%= ${0} %>
# Escaped HTML in templates
snippet - 
	<%- ${0} %>
# JavaScript code
snippet js 
	<% ${0} %>
snippet jsif
	<% if (${1}) { %>
	<% } else { %>
	<% } %>
snippet jsfor
	<% for (var i = 0, len = Things.length; i < len; i++) { %>
	<% } %>
